.scroll-to-top {
    position: fixed;
    bottom: -50px;
    right: 46px;
    z-index: 1000;
    cursor: pointer;
    transition: bottom 0.3s ease;
    animation: action 1s infinite alternate;
  }
  
  .scroll-to-top.visible {
    bottom: 50px;
  }
